#root {
  width: 100%;
  height: 100%;
}
#appCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
#infoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
#infoTitle {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
}
.inputCont {
  width: 100%;
}
